body {margin: 0mm 0mm 0mm 0mm;font-family: sans-serif;}
table {font-size: x-small;width: 100%; border-collapse: collapse; margin-top: 0rem;} th, td {border-top: black 1px solid; padding: 2px; vertical-align: top;}
tr.divider-row {background-color: #f5f5f5 !important;print-color-adjust: exact;font-weight: bold;font-size: 20px;}